<%-  include("navbar.ejs") %> 
<form action="/admin/save_category" method="post" >
    <div class="container-fluid p-5 bg-white" >
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Manage Category</h3>
            </div>
            <div class="col-md-6 mt-3">
                Category Name 
                <input type="text" name="category_name" class="form-control"> 
                </div>
                <div class="col-md-6 mt-3">
                    Category details
                    <textarea type="text" name="category_details" class="form-control"> </textarea>
                    </div>
                    <div class="col-md-12 mt-3 text-center">
                      <button class="btn btn-primary">Save Category</button> 
                        </div>
            </div>
                </div>
                </form>
                <br><br>
                <div class="container-fluid">

                <table class="table table-sm table-bordered">
                    <tr>
                        <th></th>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Details</th>

                    </tr>
                    <% for(var i=0;i<cats.length;i++)
                    { %>

                        <tr>
                            <td style="white-space: nowrap; width: 5%;">

                                <a href="/admin/delete_category/<%=cats[i].category_id%>" onclick="return confirm('Are You Sure..? ')"> <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>  
                            </td>
                            <td><%=i+1%></td>
                            <td><%=cats[i].category_name%></td>

                            <td width="70%">
                                <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 600px;"></div>
                                <%=cats[i].category_details%></div>
                            </td>
                        </tr>
              <%      }   %>

                </table>
                </div>

                <%-  include("footer.ejs") %>