<%- include('navbar.ejs') %>

<style>
  .carousel-indicators {
     width:100%;
     margin-left: 0px;
     justify-content: right;
     padding-right: 30px;
  }
  .carousel-indicators li{
background-color: gray;
height: 30px;
width: 30px;
border-radius: 50%;
  }
   .carousel-indicators .active{
    background-color: black;
   }
   .carousel-caption{
    background-image: linear-gradient(-60deg, rgba(0,0,0,0) 30%,rgba(0,0,0,0.8) 30%);
    position: absolute;
    left: 0px;
    width: 70%;
    height: 100%;
    top: 0px;
    display: flex;
    padding-left: 20px;
    align-items: center;
   }
</style>
<div style="background-color: #88bdbc;">
<div id="demo" class="carousel slide" data-ride="carousel" >
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="<%=1%>" class="<%=(i==0) ? 'active':''%>"></li>
    <li data-target="#demo" data-slide-to="1"></li>

  </ul>
  <div class="carousel-inner">
    <% for(var i=0;i<slides.length;i++) { %>
    <div class="carousel-item <%=(i==0) ? 'active':''%>">
      <img src="/upload/<%=slides[i].slider_image%>" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <div class="center_div">
        <h3><%=slides[i].slider_title%></h3>
        <p>
          <a href="<%=slides[i].slider_button_link%>" target="_blank">
            <button class="btn btn-primary"><%=slides[i].slider_button_text%></button>
          </a>
        </p>
        </div>
      </div>   
    </div>
    <% } %>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-5">
      <h3 class="text-center">Newly Added Courses</h3>
    </div>
    <% for(var i=0;i<courses.length;i++){%>
      
      <div class="col-md-4">
        <div class="mb-5">
        <div class="card" style="border: none;">
          <div class="card-header">
            <h2><%=courses[i].course_name%></h2>
           </div>
          <div class="card-body">
          <img src="/upload/<%=courses[i].course_image%>" width="100%">
          </div>
          <div class="card-footer bg-dark text-white " >
            <h3>&#8377; <%=courses[i].course_price%> /-
              <a href="/course_details/<%=courses[i].course_id%>">
            <button class="btn btn-outline-light btn-primary float-right">View Details</button>
          </a>
            </h3>
          </div>
        </div>
      </div>
      </div>
    <%}%>
  </div>
</div>
<div class="container" >

  <div class="row ">
    
    <div class="col-md-12 mt-5 mb-5"   >
      <h3 style="text-align: center;"> Top Categories</h3>
      </div>
      <div class="col-md-4 ">
<div class="card"  style="display:flex">
  <div class="card-body ">
    <img src="https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2019/09/23164055/Web-Designing-Course-Syllabus.jpg" class="img-fluid" >
  </div>
  <div class="card-footer"><h4>Design</h4></div>
</div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-body">
          <img src="https://st2.depositphotos.com/1071909/7201/i/950/depositphotos_72019191-stock-photo-personal-development-career.jpg" class="img-fluid" >
        </div>
        <div class="card-footer"><h4>Development</h4></div>
      </div>
          </div>
          <div class="col-md-4">
            <div class="card ">
              <div class="card-body">
                <img src="https://t3.ftcdn.net/jpg/04/16/10/78/360_F_416107856_8YTxXxOxaYJZzchysZv2bYSLINGKEamD.jpg" class="img-fluid" >
              </div>
              <div class="card-footer"><h4>Personal Development</h4></div>
            </div>
                </div>
  
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h3 class="text-center">Top Mentors</h3>
    </div>
      <% for(var i=0;i<mentor.length;i++){%>
        <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img src="/upload/<%=mentor[i].mentor_image%>" width="100%" style="border-radius: 50%;">
          <h3 style="text-align: center;"> <td><%=mentor[i].mentor_name%></td></h3>
          <h5 style="text-align: center;">  <td><%=mentor[i].mentor_country%></td></h5>
          <h6 style="text-align: center;">  <td><%=mentor[i].mentor_description%></td></h6>
        </div>
      </div>
      </div>
      <% } %>
  

  </div>
</div>




<br><br>
<br><br>
<br><br>
<br><br>
</div>
<%- include('footer.ejs') %>